.form {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;

  button {
    font-size: 1rem;
    aspect-ratio: 1 / 1;
  }
}

.idInput {
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: var(--color-accent);
  }
}
