.form {
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3em;
  gap: 0.1em;
  * {
    font-size: 1.3em;
  }
}

@keyframes loading {
  from {
    transform: translateY(-1em);
  }
  to {
    transform: translateY(1em);
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(0.1em);

  display: grid;
  place-items: center;
  & > * {
    object-fit: cover;
    animation: loading 0.5s ease-in infinite alternate;
  }
}

.help-btn {
  padding: 0 0.5em;
  margin-left: 0.2em;
  font-size: inherit;
}

.result-container {
  max-width: max-content;
  margin: auto;
}

// viewport-width >= 1300px (mobile-first)
@media (min-width: 1300px) {
  .form {
    max-width: 1300px;
  }
  .result-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;

    & > :nth-child(1) {
      min-width: 400px;
    }
  }
}
