.filters {
  margin: 4px 0;

  --filter-background: lightgray;
  --filter-background-hover: hsl(0, 0%, 70%);
  --filter-background-checked: lightcyan;
  --filter-background-checked-hover: hsl(195, 33%, 80%);
}
@media (prefers-color-scheme: dark) {
  .filters {
    --filter-background: dimgray;
    --filter-background-hover: hsl(0, 0%, 60%);
    --filter-background-checked: darkblue;
    --filter-background-checked-hover: hsl(240, 100%, 50%);
  }
}

.filterInput {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.filterLabel {
  border: 1px solid gray;
  border-radius: 0.2em;
  margin-right: 4px;
  padding: 0 0.5em;
  background-color: var(--filter-background);

  &:hover {
    background-color: var(--filter-background-hover);
  }
}

.filterInput:checked + .filterLabel {
  background-color: var(--filter-background-checked);

  &:hover {
    background-color: var(--filter-background-checked-hover);
  }
}

.table-streaming {
  white-space: nowrap;
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  border-radius: 0.2em;
  border-spacing: 0;
  td,
  th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 0 0.1em;
  }
  tr > td:nth-child(1) {
    min-width: 2.5em;
    text-align: end;
  }
  tr > td:nth-child(2) {
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .bitrate-text {
    font-family: monospace;
    text-align: end;
  }
}

.help-btn {
  padding: 0 0.5em;
  margin-left: 0.2em;
  font-size: inherit;
}

.overflow-scroll {
  overflow: auto;
}

.gray-text {
  color: dimgray;
}
.video-mimetype-text {
  color: hsl(240, 60%, 50%);
}
.audio-mimetype-text {
  color: hsl(0, 60%, 50%);
}
@media (prefers-color-scheme: dark) {
  .gray-text {
    color: lightgray;
  }
  .table-streaming {
    border-color: gray;
    td,
    th {
      border-color: gray;
    }
  }
  .video-mimetype-text {
    color: hsl(240, 100%, 80%);
  }
  .audio-mimetype-text {
    color: hsl(0, 100%, 80%);
  }
}
