.formatsList {
  max-width: max-content;
  margin: auto;
}

.table-streaming {
  white-space: nowrap;
  border: 1px solid black;
  border-radius: 0.5em;
  border-spacing: 0;
  margin: 8px 0;
  td,
  th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 1em 0.2em;
    &:last-child {
      border-right: none;
    }
  }
  tr:last-child td {
    border-bottom: none;
  }
  .emptyRow {
    height: 1em;
    * {
      border-right: none;
    }
  }
  // itag
  tr > td:nth-child(1) {
    min-width: 2.5em;
    text-align: end;
  }
  // mime type
  tr > td:nth-child(2) {
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  // videoQuality
  .videoQuality {
    text-align: end;
  }
  // bitrate
  // content size
  .bytesText {
    font-family: monospace;
    text-align: end;
  }
  // link
  tr > td:nth-child(6) {
    text-align: center;
  }
}

.help-btn {
  padding: 0 0.5em;
  margin-left: 0.2em;
  font-size: inherit;
}

.overflow-scroll {
  overflow: auto;
}

.gray-text {
  color: dimgray;
}
.video-mimetype-text {
  color: hsl(240, 60%, 50%);
}
.audio-mimetype-text {
  color: hsl(0, 60%, 50%);
}
@media (prefers-color-scheme: dark) {
  .gray-text {
    color: lightgray;
  }
  .table-streaming {
    border-color: gray;
    td,
    th {
      border-color: gray;
    }
  }
  .video-mimetype-text {
    color: hsl(240, 100%, 80%);
  }
  .audio-mimetype-text {
    color: hsl(0, 100%, 80%);
  }
}
