.home {
  font-family: sans-serif;
  h2,
  h3 {
    margin: 0;
  }
}

.gray-text {
  color: gray;
  font-weight: bold;
}

.form {
  max-width: 1000px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 3em;
  gap: 0.1em;
  * {
    font-size: 1.3em;
  }
}

@keyframes loading {
  from {
    transform: translateY(-1em);
  }
  to {
    transform: translateY(1em);
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(0.1em);

  display: grid;
  place-items: center;
  * {
    object-fit: cover;
    animation: loading 0.5s ease-in infinite alternate;
  }
}

@media (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 30vw 1fr;
    gap: 0.5em;
  }
}

.table-details {
  border-radius: 0.3em;
  th {
    border: 1px solid black;
    border-radius: 0.2em;
  }
}

.thumbnail {
  max-width: 100%;
}

.scroll {
  overflow: auto;
}
.table-streaming {
  white-space: nowrap;
  border: 1px solid black;
  border-radius: 0.2em;
  margin: 0.3em 0;
  border-spacing: 0;
  td {
    border: 1px solid black;
    padding: 0.1em 0.3em;
    border-top-width: 0;
    border-left-width: 0;
  }
  tr:last-child td {
    border-bottom-width: 0;
  }
  td:last-child {
    border-right-width: 0;
  }
  .bitrate-text {
    font-family: monospace;
    text-align: end;
  }
}

.itag-col {
  min-width: 1.7em;
  text-align: end;
}

.video-mimetype-text {
  color: hsl(240, 60%, 40%);
}
.audio-mimetype-text {
  color: hsl(0, 60%, 40%);
}
