.downloadBtn {
  display: inline-block;
  appearance: none;

  padding: 0.5em;
  margin: 0 0.5em;

  font-size: 1rem;
  font-weight: bold;

  border: 2px solid gray;
  border-radius: 0.5em;

  text-decoration: none;
}
