.video-details {
  table {
    width: 100%;
  }

  tr {
    > th {
      width: 5em;
    }
    > td:nth-child(2) {
      background-color: lightgray;
      padding: 0 0.2em;
    }
  }

  .thumbnail {
    height: 100%;
  }

  textarea {
    width: 98%;
    height: 30em;
  }
}

.thumbnail-container {
  height: 200px;
  text-align: center;
  background-color: black;
  padding: 2px;
}

@media (width >= 1300px) {
  .thumbnail-container {
    width: 100%;
    height: unset;
    aspect-ratio: 16 / 9;

    .thumbnail {
      height: 100%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .video-details tr > td:nth-child(2) {
    background-color: dimgray;
  }
}
