.video-details {
  .table {
    display: grid;
    grid-template-columns: max-content minmax(0, 800px);

    > div {
      display: contents;

      :nth-child(1) {
        padding-right: 0.3em;
      }
      :nth-child(2) {
        background-color: lightgray;
      }
    }
  }

  .thumbnail {
    max-width: 100%;
    max-height: 300px;
  }

  textarea {
    width: 100%;
    height: 30em;
  }
}

@media (prefers-color-scheme: dark) {
  .video-details .table > div :nth-child(2) {
    background-color: dimgray;
  }
}
